###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.html text eol=lf
*.ts text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.json text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.config text eol=lf
*.conf text eol=lf
*.dockerfile text eol=lf
*.сs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
Dockerfile text eol=lf